//sidebar
$menuText:#fff;
$menuActiveText:#FFBA00;
$subMenuActiveText:#1890ff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#2b2f3a;
$menuHover:#2b3b5f;

$subMenuBg:#0e1b36;
$subMenuHover:#2b3b5f;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
